<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= data.sitename %><%= (page.title) ? ' | ' + page.title : '' %></title>
  <link rel="stylesheet" href="<%= page.directory %>css/style.css">
</head>
<body>
    <header class="header">
      <div class="l-inner header-inner">
        <h1 class="header-logo">ロゴ</h1>
      </div>
      <nav class="gnavi">
        <p id="humberger" class="humberger"><span></span></p>
        <ul class="gnavi-list">
          <li class="gnavi-item"><a href="#">ナビ1</a></li>
          <li class="gnavi-item"><a href="#">ナビ2</a></li>
          <li class="gnavi-item"><a href="#">ナビ3</a></li>
          <li class="gnavi-item"><a href="#">ナビ4</a></li>
          <li class="gnavi-item"><a href="#">ナビ5</a></li>
        </ul>
      </nav>
    </header>
    <main class="l-contents <%= page.filename %>">
      <%- include('./pages/_' + page.filename ) %>
    </main>
    <footer class="footer">
      <div class="l-inner">
        <nav class="footer-navi">
          <ul class="footer-navi-list">
            <li class="footer-navi-item"><a href="#">メニュー1</a></li>
            <li class="footer-navi-item"><a href="#">メニュー2</a></li>
            <li class="footer-navi-item"><a href="#">メニュー3</a></li>
            <li class="footer-navi-item"><a href="#">メニュー4</a></li>
            <li class="footer-navi-item"><a href="#">メニュー5</a></li>
          </ul>
        </nav>
        <p class="footer-copy"><small>&copy; test 2017 All Rights Reserved</small></p>
      </div>
    </footer>
    <div id="modal" class="modal">
      <div id="booking">
          <table class="table">
            <caption class="table-caption"><span id="roomDate"></span>のご予約</caption>
            <tbody>
              <tr>
                <th class="table-head">氏名</th>
                <td class="table-field"><input type="text" id="name" class="form-items"></td>
              </tr>
              <tr>
                <th class="table-head">お部屋タイプ</th>
                <td class="table-field">
                  <ul class="form-radio-list">
                    <li class="form-radio-item"><input type="radio" name="type" id="roomSingle" data-value="single" checked><label for="roomSingle">シングル</label></li>
                    <li class="form-radio-item"><input type="radio" name="type" id="roomDouble" data-value="double"><label for="roomDouble">ダブル</label></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th class="table-head">備考</th>
                <td class="table-field"><textarea rows="10" cols="30" class="form-items" id="comment"></textarea></td>
              </tr>
            </tbody>
          </table>
          <p class="form-check"><a id="checkVacancy" class="form-active">空き部屋を確認する</a></p>
          <ul id="avalableList"></ul>
          <p><button id="submit" class="form-submit">予約する</button></p>
      </div>
    </div>
    <div id="modalOverlay" class="modal-overlay"></div>
  <script src="<%= page.directory %>js/bundle.dev.js"></script>
</body>
</html>